<div class="bg-light" id="sidebar-wrapper">
    @*<div class="sidebar-logo">
        <img class="img-responsive" id="logo" src="images/bethanylogo.png" />
    </div>
    <div class="profile">
        <div class="profile-bg">
            <img class="img-responsive" src="images/profilePicture.jpg" />
        </div>
        <div class="profile-picture">
            <img class="img-responsive circle account-photo" src="images/profilePicture.jpg" />
        </div>
    </div>*@
    <div class="menu list-group list-group-flush">
        <NavLink class="list-group-item list-group-item-action bg-light" href="/" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>
        <NavLink class="list-group-item list-group-item-action bg-light" href="/customeroverview">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Klanten
        </NavLink>
        <NavLink class="list-group-item list-group-item-action bg-light" href="/customeredit">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Nieuwe klant
        </NavLink>
        <NavLink class="list-group-item list-group-item-action bg-light" href="/photomodeloverview">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Fotomodellen
        </NavLink>
        <NavLink class="list-group-item list-group-item-action bg-light" href="/photomodeledit">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Nieuw fotomodel
        </NavLink>
    </div>
</div>

@code { bool collapseNavMenu = true;

            string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

            void ToggleNavMenu()
            {
                collapseNavMenu = !collapseNavMenu;
            } }

<!--<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">ModellenBureau.Server</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>-->
@*<li class="nav-item px-3">
        <NavLink class="nav-link" href="fetchdata">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
        </NavLink>
    </li>*@
<!--</ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}-->
